# Игнорировать файлы виртуального окружения
venv/
.env

# Игнорировать файлы и папки IDE (например, VS Code, PyCharm)
.idea/
.vscode/

# Игнорировать временные файлы операционной системы
*.DS_Store
*.log
*.sqlite3
*.pyc
*.pyo
__pycache__/

# Игнорировать файлы миграций (если вы хотите хранить только финальные миграции)
*/migrations/*.pyc
*/migrations/*.py

# Игнорировать временные файлы кэша
staticfiles/
media/
*.tmp
*.bak

# Игнорировать результаты тестов
*.coverage
htmlcov/

# Игнорировать Docker-файлы временных данных
*.pid
*.sock
logs/
