{% extends 'base.html' %}
{% load static %}


{% block content %}
    <main class='main'>
        <div class="main-background-users">
            <img src="{% static 'users/image/main-users.jpg' %}" alt="main photo">
        </div>
        <div class="auth-container">
            <div class="auth">
                <h1 class="auth-h1">Профиль пользователя</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    {% for f in form %}
                        <p class=""><label class="form-label-auth" for="{{ for.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
                        <div class="form-error">{{ f.error }}</div>
                    {% endfor %}
                    <p>
                        <button type="submit">Изменить</button>
                    </p>
                    <p>
                    <h1 class="auth-h1"><a href="{% url 'users:password_change' %}">Изменить пароль</a></h1>
                    </p>
                    <h1 class="auth-h1"></h1>
                    <a class="auth-h1" href="#">Посмотреть все свои сборки</a>
                </form>
            </div>
        </div>
        </section>
    </main>
{% endblock %}